@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-bg {
    @apply rounded;
    background: linear-gradient(
      to bottom right,
      rgba(12, 209, 235, 0.8),
      rgba(72, 31, 222, 0.58),
      rgba(189, 94, 206, 0.8),
      rgba(70, 174, 230, 0.8)
    );

    clip-path: path("M 10 0 Q 10 100, 100 0 Q 100 50, 100 100");
    clip-path: polygon(95% 0, 100% 0, 100% 100%, 0 100%);
  }
  .custom {
    background: linear-gradient(
      to bottom right,
      rgba(12, 209, 235, 0.8),
      rgba(72, 31, 222, 0.58),
      rgba(189, 94, 206, 0.8),
      rgba(70, 174, 230, 0.8)
    );
  }
  .custom-clip {
    clip-path: url(#clipPath);
  }
}
